@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
}

/* Loader Styles Start*/
.loader {
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Loader Styles End*/

.apexcharts-menu-item {
    color: black !important;

}
.apexcharts-tooltip-title {
        color: black !important;
    }

    .apexcharts-tooltip-series-group.apexcharts-active,
        .apexcharts-tooltip-series-group:last-child{
            color: black !important
        }

.apexcharts-tooltip.apexcharts-theme-light {
    color: #000000 !important
}